body {
  padding: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

h1 > span {
  color: red;
}

button {
    background-color: teal;
    color: white;
    padding: 0.5rem 1rem;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
}